/vendor/
/.idea
composer.lock
.env
tests/generated/*
!tests/generated/.gitkeep
/docs/
phpunit-retry.xml
.phpunit.result.cache
/logs/
terraform.tfvars
terraform.tfstate
.terraform.lock.hcl
.terraform/*
big_query_key.json
principal_key.json
