parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
    ignoreErrors:

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
