parameters:
	ignoreErrors:
		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Backend\\Init\\InitBackendHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Backend/Init/InitBackendHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Bucket\\Create\\CreateBucketHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Bucket/Create/CreateBucketHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Bucket\\Create\\GrantBucketAccessToReadOnlyRoleHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Bucket/Create/GrantBucketAccessToReadOnlyRoleHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Bucket\\Link\\LinkBucketHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Bucket/Link/LinkBucketHandler.php

		-
			message: '#^Call to function assert\(\) with true and ''ShareBucketCommand…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Handler/Bucket/Share/ShareBucketHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Bucket\\Share\\ShareBucketHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Bucket/Share/ShareBucketHandler.php

		-
			message: '#^Strict comparison using \=\=\= between false and false will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/Handler/Bucket/Share/ShareBucketHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\ExecuteQuery\\ExecuteQueryHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/ExecuteQuery/ExecuteQueryHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Info\\ObjectInfoHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Info/ObjectInfoHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Project\\Create\\CreateProjectHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Project/Create/CreateProjectHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Alter\\AddColumnHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Alter/AddColumnHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Alter\\AlterColumnHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Alter/AlterColumnHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Alter\\DeleteTableRowsHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Alter/DeleteTableRowsHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Create\\CreateTableFromTimeTravelHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Create/CreateTableFromTimeTravelHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Create\\CreateTableHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Create/CreateTableHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Export\\ExportTableToFileHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Export/ExportTableToFileHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Import\\ImportTableFromFileHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Import/ImportTableFromFileHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Import\\ImportTableFromTableHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Import/ImportTableFromTableHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Preview\\PreviewTableHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Preview/PreviewTableHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Table\\Profile\\ProfileTableHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Table/Profile/ProfileTableHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Create\\CreateWorkspaceHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Workspace/Create/CreateWorkspaceHandler.php

		-
			message: '#^Property Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\LoadTableToWorkspaceHandler\:\:\$columnMappingService \(Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\ColumnMappingService\|null\) is never assigned Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\ColumnMappingService so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Handler/Workspace/Load/LoadTableToWorkspaceHandler.php

		-
			message: '#^Property Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\LoadTableToWorkspaceHandler\:\:\$destinationManager \(Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\LoadDestinationManager\|null\) is never assigned Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\LoadDestinationManager so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Handler/Workspace/Load/LoadTableToWorkspaceHandler.php

		-
			message: '#^Property Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\LoadTableToWorkspaceHandler\:\:\$sourceFactory \(Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\LoadSourceFactory\|null\) is never assigned Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\LoadSourceFactory so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Handler/Workspace/Load/LoadTableToWorkspaceHandler.php

		-
			message: '#^Method Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\ResetPassword\\ResetWorkspacePasswordHandler\:\:__invoke\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Handler/Workspace/ResetPassword/ResetWorkspacePasswordHandler.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Keboola\\\\TableBackendUtils\\\\Column\\\\ColumnCollection'' and Keboola\\TableBackendUtils\\Column\\ColumnCollection will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/Unit/Handler/Workspace/Load/ColumnMappingServiceTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Keboola\\\\TableBackendUtils\\\\Table\\\\Bigquery\\\\BigqueryTableDefinition'' and Keboola\\TableBackendUtils\\Table\\Bigquery\\BigqueryTableDefinition will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 4
			path: tests/Unit/Handler/Workspace/Load/LoadDestinationManagerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Keboola\\\\StorageDriver\\\\BigQuery\\\\Handler\\\\Workspace\\\\Load\\\\SourceContext'' and Keboola\\StorageDriver\\BigQuery\\Handler\\Workspace\\Load\\SourceContext will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 6
			path: tests/Unit/Handler/Workspace/Load/LoadSourceFactoryTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Keboola\\\\StorageDriver\\\\Command\\\\Bucket\\\\CreateBucketResponse'' and Keboola\\StorageDriver\\Command\\Bucket\\CreateBucketResponse will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/functional/UseCase/Bucket/CreateDropBucketTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with array will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/functional/UseCase/Table/Export/ExportTableToFileTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotEmpty\(\) with array\{''pk_col'', ''value_col''\} and ''CRITICAL\: Imported…'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/functional/UseCase/Workspace/Load/LoadTableFromTableTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Google\\\\Service\\\\Iam\\\\Resource\\\\ProjectsServiceAccounts'' and Google\\Service\\Iam\\Resource\\ProjectsServiceAccounts will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/unit/IAMServiceWrapperTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Google\\\\Service\\\\Iam\\\\Resource\\\\ProjectsServiceAccountsKeys'' and Google\\Service\\Iam\\Resource\\ProjectsServiceAccountsKeys will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/unit/IAMServiceWrapperTest.php
