<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/functional</directory>
        </testsuite>
        <testsuite name="Import">
            <directory>tests/functional/UseCase/Table/Import</directory>
        </testsuite>
        <testsuite name="Export">
            <directory>tests/functional/UseCase/Table/Export</directory>
        </testsuite>
        <testsuite name="Other">
            <directory>tests</directory>
            <exclude>tests/functional/UseCase/Table/Export</exclude>
            <exclude>tests/functional/UseCase/Table/Import</exclude>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
